*{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 20px;
}
body {
  height: 100vh;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  border: solid 1px black;
  width: 100%;
  height: 900px;
  background-color: rgb(245, 237, 237);
  border-radius: 15px;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}
.header {
  position: relative;
  display: flex;
  justify-content: space-around;
  border-bottom: solid 1px black;
  background-color: black;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px 0;
}
header p a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-weight: 900;
}
.link {
  border-radius: 20px;
    padding: 0 10px;
}
.link:hover, .shop:hover, .link.active, .shop.active {
  background-color: #fff;
  color: black;
}
header p a:hover,.link.active:hover,.shop:active{
background-color: black;
color: #fff;
}
.main {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.shops {
width: 30%;
height: 800px;
border: solid 1px black;
border-radius: 10px;
}
.shops h1 {
  margin: 20px 0;
  text-align: center;
}
li {
  list-style: none;
}
.shop {
margin: 10px 0;
min-width: 90%;
padding: 5px 0;
font-family: Arial, Helvetica, sans-serif;
font-weight: 800;
font-size: 24px;
letter-spacing: 0.3rem;
color: #fff;
background-color: black;
border-radius: 10px;
}
.food_products {
  width: 68%;
  height: 800px;
  border: solid 1px black;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content:flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.item {
  position: relative;
  height: 300px;
  border: solid 1px black;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
}
.productCard {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productName {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
}
img{
  width: 200px;
  height: 150px;
}
.shopImg {
  width: 100%;
  height: auto;
}
.price_btn {
position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price_product {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.buy {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
  padding: 0 20px;
  letter-spacing: 0.1rem;
}
.buy:hover, .remove:hover {
  background-color: rgb(245, 237, 237);
  color: black;
  font-weight: 800;
}
.cartEmty {
  height: auto;
  text-align: center;
  margin-top: 45%;
  font-size: 36px;
  font-weight: 800;
}
.cart_products {
  width: 68%;
    height: 800px;
    border: solid 1px black;
    border-radius: 10px 0 0 10px;
    overflow-y: scroll;
}
.itemCart {
  position: relative;
    width: 95%;
    height: 180px;
    border: solid 1px black;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}
.CardInCart {
  display: flex;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.remove {
 position: absolute;
  right: 10px;
  background-color: black;
  color: #fff;
  border-radius: 10px;
  font-size: 15px;
  height: 30px;
  width: 30px;
}
.price_cart {
  margin-top: 10px;
  font-size: 22px;
}
.formUsers {
display: flex;
flex-direction: column;
align-items: center;
}
.titleInput {
margin-left: 10%;
align-self: flex-start;
}
.titleInput:nth-child(1){
  margin-top: 20px;
}
.inputUsers {
width: 90%;
border-radius: 10px;
margin-bottom: 20px;
height: 30px;
padding: 0 10px;
}
.product_quantity {
  margin: 0 20px;
  font-weight: 700;
  font-size: 24px;
}
.mathBtn {
  border-radius: 50%;
  width: 30px;
}
.submit {
  width: 80%;
  margin-top: 40px;
}
.price {
  color: black;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 0.2rem;
    min-width: 200px;
    text-align: center;
}
.itemHistory {
  width: 95%;
  height: 250px;
  display: flex;
  justify-content: space-between;
}
.orderInfo, .userInfo {
width: 48%;
height: 98%;
border: solid 1px black;
border-radius: 10px 0 0 10px ;
overflow-y: scroll;
}
.orderHistory {
margin-left: 20px;
margin-bottom: 4px;
}
.orderHistory:nth-child(1) {
  text-align: center;
}
